version: "3"
services:
  dolar-api:
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile.jvm
    image: dolar-api
    container_name: dolar-api
    ports:
      - 8080:8080
    depends_on:
      - mongodb

  mongodb:
    image: mongo:4.0.4
    ports:
      - 27017:27017
networks:
  rede-cotacao-api:
    driver: bridge